@import "tailwindcss";

:root {
  --color-white: #ffffff;
  --color-black: #171717;
}

input:focus {
  outline: none;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: Arial, Helvetica, sans-serif;
}
